<footer style="width: 100%; margin-right: 0;">
    <div class="container">
        <div class="footer-main">
            <div>
                <h4>POPULAR LINKS</h4>
                    <ul>
                        <li>
                            <a title="Gynaechologists" href="#" tabindex="0">Gynaechologists</a>
                        </li>
                        <li>
                            <a title="Opthalmologists" href="#" tabindex="0">Opthalmologists</a>
                        </li>
                        <li>
                        <a title="Neurologists" href="#" tabindex="0">Neurologists</a> 
                        </li>
                        <li>
                            <a title="Cardiologists" href="#" tabindex="0">Cardiologists</a>
                        </li>
                        <li>
                            <a title="Physician" href="#" tabindex="0">Physician</a>
                        </li>
                        <li>
                            <a title="Child Specialists" href="#" tabindex="0">Child Specialists</a>
                        </li>
                        
                        
                    </ul>
                    
            </div>
            <br>
            
            <div>
                <h4>CAREZONE+ ZONE</h4>
                    <ul>
                        <li>
                            <a title="About Us" href="#" tabindex="0">About Us</a>
                        </li>
                        
                        <li>
                            <a title="Contact Us" routerLink="/Contact" tabindex="0">Contact Us</a>
                        </li>
                        
                        <li>
                            <a title="Ads&nbsp;/&nbsp; commercials" href="#" tabindex="0">Ads&nbsp;/&nbsp;commercials</a>
                        </li>
                        
                        <li>
                            <a title="Terms and Conditions" href="#" tabindex="0">Terms & Conditions</a>
                        </li>
                        <li>
                            <a title="Privacy Policy" href="#" tabindex="0">Privacy Policy</a>
                        </li>
                        <li>
                            <a title="Copyright policy" href="#" tabindex="0">Copyright Policy</a>
                        </li>
                    </ul>
                    
            </div>
            <br>
            
            <div>
                <h4>Top Cities (India)</h4>
                <ul>
                    <li>
                        <a title="Sulekha Banglore" href="#" tabindex="0">Banglore</a>
                    </li>
                    <li>
                        <a title="Sulekha Chennai" href="#" tabindex="0">Chennai</a>
                    </li>
                    <li>
                        <a title="Delhi" href="#" tabindex="0">Delhi</a>
                    </li>
                    <li>
                        <a title="Sulekkha Mumbai" href="#" tabindex="0">Mumbai</a>
                    </li>
                    <li>
                        <a title="Sulekha Hyderabad" href="#" tabindex="0">Hyderabad</a>
                    </li>
                    <li>
                        <a title="Sulekha Pune" href="#" tabindex="0">Pune</a>
                    </li>
                    <li>
                        <a title="Sulekha Kolkata" href="#" tabindex="0">Kolkata</a>
                    </li>
                    <li>
                        <a title="Sulekha Ahemdabad" href="#" tabindex="0">Ahemdabad</a>
                    </li>
                    <li>
                        <a title="Sulekha Gurgaon" href="#" tabindex="0">Gurgaon</a>
                    </li>
                    <li>
                        <a title="Sulekha Faridabad" href="#" tabindex="0">Faridabad</a>
                    </li>
                    <li>
                        <a title="Sulekha Ghazaiabad" href="#" tabindex="0">Ghazaiabad</a>
                    </li>
                    <li>
                        <a title="Sulekha Noida" href="#" tabindex="0">Noida</a>
                    </li>
                    <li>
                        <a title="Sulekha Greater Noida" href="#" tabindex="0">Greater Noida</a>
                    </li>
                </ul>
            </div>
            <br>
            
            <div>
                <h4>Top Cities (US)</h4>
                <ul>
                    <li>
                        <a title="Austin" tabindex="0" href="0">Austin</a>
                    </li>
                    <li>
                        <a title="Bay Area" tabindex="0" href="#">Bay Area</a>
                    </li>
                    <li>
                        <a title="Boston" tabindex="0" href="#">Boston</a>
                    </li>
                    <li>
                        <a title="Chicago" tabindex="0" href="#">Chicago</a>
                    </li>
                    <li>
                        <a title="Los Angeles" tabindex="0" href="#">Los Angeles</a>
                    </li>
                    <li>
                        <a title="New Jersey" tabindex="0" href="#">New Jersey</a>
                    </li>
                    <li>
                        <a title="New York" tabindex="0" href="#">New York</a>
                    </li>
                    <li>
                        <a title="Toronto" tabindex="0" href="#">Toronto</a>
                    </li>
                </ul>
                
            </div>
        </div>
        <br>
        <div class="footer-bottom">
            <span> &copy; 2019 Copyright CAREZONE+ All Rights Reserved.</span>
            <br>
            
        </div>
    </div>
</footer>