<app-navigation-bar></app-navigation-bar>

<div class="wrapper contact">
  <div class="banner">
      <h2 style="padding-top: 10%;">Contact us</h2>
  </div>
  
  <div class="branch" style="background-color: rgb(245, 247, 250);">
      <div class="container">
          <div class="address">
              <div class="container" >
                  <span class="title">Offices</span>
                  <ul style="margin-left: 33%;">
                      <li>
                          <span class="location">Registered head Office</span>
                          <address>
                              Sulekha.com New Media Pvt. Ltd.<br>
                              # 484 &amp; 485, 4th Floor, <br>
                              Pantheon Plaza, <br>
                              Pantheon Road, Egmore,<br>
                              Chennai - 600 008.<br>
                              Call : +91 44 3021 3000  
<br>
<br>                                   
                          </address>
                          <span class="contact f-icon"></span>
                      </li>
                      <li>
                          <span class="location">Chennai Office II</span>
                          <address>
                              Sulekha.com New Media Pvt. Ltd. <br>
                              RMZ Millenia Business Park,<br>
                              2nd Floor of, Campus 1A, <br>
                              No 143, Dr. MGR Road,<br>
                              Kandanchavadi, Perungudi,<br>
                              Chennai - 600 096.<br>
      Call :  +91 44 3988 6655
                          </address>
                      </li>
                      <li>
                          <span class="location">Bangalore</span>
                          <address>
                              Sulekha.com New Media Pvt. Ltd. <br>
                              3RD floor Infantry Techno park, <br>
                              Opposite Gems Plaza, <br>
                              Infantry Road,<br>
                              Bangalore - 560 001.<br>
<br>
<br>
                          </address>
                      </li>
                      <li>
                          <span class="location">Hyderabad</span>
                          <address>
                              Sulekha.com New Media Pvt. Ltd. <br>
                              # 6-2-981, Maruthi Plaza<br>
                              Beside Shadan Pharmacy <br>
                              College, <br>
                              Khairathabad, <br>
                              Hyderabad - 500 004.
                          </address>
                      </li>
                      <li>
                          <span class="location">Mumbai</span>
                          <address>
                              Sulekha.com New Media Pvt. Ltd. <br>
                              Unit # 1-205 Gemstar <br>
                              Commercial Complex <br>
                              Ramachandra Lane, <br>
                              Kanchpada, Malad (W)<br>
                              Mumbai - 400 064.
                          </address>
                      </li>
                      <li>
                          <span class="location">Noida</span>
                          <address>

                              Sulekha.com New Media Pvt. Ltd. <br>
                              C104, Second Floor, <br>
                              Sector - 2, Noida - 201 301.
                          </address>
                      </li>
                      <li>
                          <span class="location">Kolkata</span>
                          <address>
                              Sulekha.com New Media Pvt. Ltd. <br>
                              Chaterjee International Center, <br>
                              #33 A, 8th Floor, <br>
                              Room No. A1 &amp; A14, <br>
                              Jawaharlal Nehru Road,<br>
                              Kolkata - 700 071.
                          </address>
                      </li>
                      <li>
                          <span class="location">Ahmedabad</span>
                          <address>
                              Sulekha.com New Media Pvt. Ltd.<br>
                              Mridul Tower, Ground Floor,#135,<br>
                              Opposite Bata Showroom. <br>
                              Ashram Road,Ellis Bridge,<br>
                              Ahmedabad - 380 006.
                          </address>
                      </li>
                      <li>
                          <span class="location">Pune</span>
                          <address>
                              Sulekha.com New Media Pvt. Ltd. <br>
                              The Orion Building,<br>
                              5th Floor, <br>
                              Opposite Don Bosco Youth Centre, <br>
                              Near St Miras Girls College,<br>
                              Koregaon Park, Pune - 411 001.
                          </address>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
