<app-navigation-bar></app-navigation-bar>

<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
            <h1>Forgot your Password? Enter your details below..</h1>

            <label>
                Enter your email:
            </label>
            <br>
            <input placeholder="Enter email" [(ngModel)]="email" value="email" type="text">
            <br>
            <br>
            <label>
                Enter your phone number:
            </label>
            <br>
            <input placeholder="Enter phone number" [(ngModel)]="phone" value="phone" type="text">
            <br><br>
            <br><button class="btn btn-primary" (click)="search()">DISPLAY</button>
            <br>

            <p *ngFor="let resu of Signup">
                <br><br>Your Password is: {{ resu.password }}</p>
    </div>
    <div class="col-sm-2">

    </div>
</div>


