<app-navigation-bar></app-navigation-bar>

<br>
<br>

<section class="image">
    <div >
    <div style="background-color:rgb(255,255,255,0.4);">
        <h1 style="text-align: center; padding-top: 70px; color: black;">Connect with the right services experts in Noida</h1>
    </div>
    
    <div class="row" style="margin-top: 100px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row" style="height: 10px;">
                <div class="col-sm-6">
                    <input type="email" placeholder="Enter Email" name="email" [(ngModel)]="email" style="width: 100%;">
                </div>
                <div class="col-sm-6">
                    <input type="text" placeholder="Enter Phone Number" name="phoneNumber" [(ngModel)]="phoneNumber" style="width: 100%;">
                </div>
                
            </div>
        </div>
        
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="margin-top: 100px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row" style="height: 10px;">
                <div class="col-sm-6">
                    <input type="name" placeholder="Enter Name " name="name" [(ngModel)]="name" style="width: 100%;">
                </div>
                <div class="col-sm-6">
                    <input type="text" placeholder="Enter Phone Number" name="phoneNumber" [(ngModel)]="phoneNumber" style="width: 100%;">
                </div>
                
            </div>
        </div>
        
        <div class="col-sm-1"></div>
    </div>
    
      
    </div>


</section>

<app-footer></app-footer>